<header class="masthead">
  {% if page.show_masthead == true %}
  <div class="wrap">
    {% if site.logo %}
      <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
        <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
      </a>
    {% endif %}
      <h1 class="site-title animated fadeIn">{{ site.title }}</h1>
      <p class="site-description animated fadeIn" itemprop="description">{{ site.description }}</p>
  </div>
  {% endif %}
</header><!-- /.masthead -->
