---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

/* Custom fonts */
$serif-font-family: "Signika", sans-serif;
$sans-serif-font-family: "Source Sans Pro", sans-serif;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $serif-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $sans-serif-font-family;
$meta-font-family: $sans-serif-font-family;

@import "so-simple";

/* Stop italicizing heading text */
.entry-title {
	font-style: normal;
}
.page-title {
	font-style: normal;
}

/* Italicize figure captions */
figcaption {
	font-style: italic;
}

/* Darken body background color and border color */
body {
    background: #15171d !important;
    border-top-color: #15171d !important;
}

/* Darken nav list background color */
.site-nav ul {
	background-color: #15171d !important;
}

/* Darken nav links border color */
.site-nav a{
	border-color: #15171d !important;
}

/* Darken site logo image border color */
.site-logo-img {
    border-color: #15171d !important;
}

/* Site footer */
.site-footer {
	border-top: none;
	padding-bottom: 0;
}
